@model proyecto.Models.Costeo

@{
    ViewData["Title"] = "Detalle Costeo";
    Layout = null;
}

<!-- Página de Costeo -->
<div class="container mt-5" style="min-height: 80vh;">
    <div class="row mb-3 text-center">
        <div class="col-md-12">
            <h2 class="mb-0" style="color: #000;">@Model.Empresa</h2>
        </div>
    </div>

    <hr style="border: 1px solid black; margin: 20px 0;">

    <div class="row mb-3">
        <div class="col-md-8">
            <div class="form-group d-flex align-items-center">
                <h5 for="Tela1_Nombre" class="mr-2 mb-0">Tela 1:</h5>
                <p class="mb-0" style="width: 30%; margin-left: 15px;">@Model.Tela1_Nombre</p>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        @*<div class="col-md-4">
        <div class="form-group d-flex align-items-center">
        <label for="Precio_Tela1" class="mr-2">Precio:</label>
        <p class="form-control mb-0" readonly>
        S/. @((Model.Tela1_Cantidad > 0) ?
        (((double)Model.Tela1_Costo / (double)Model.Tela1_Cantidad).ToString("F2")) : "0.00")
        </p>
        </div>
        </div>*@
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Tela1_Cantidad" class="mr-2">Cantidad:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>@Model.Tela1_Cantidad</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Tela1_Costo" class="mr-2">Costo de la Tela 1:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Tela1_Costo</p>
            </div>
        </div>
    </div>

    <hr style="border: 1px solid black; margin: 20px 0;">


    <div class="row mb-3">
        <div class="col-md-8">
            <div class="form-group d-flex align-items-center">
                <h5 for="Tela2_Nombre" class="mr-2 mb-0">Tela 2:</h5>
                <p class="mb-0" style="width: 30%; margin-left: 15px;">@(string.IsNullOrEmpty(Model.Tela2_Nombre) ? "No hay tela" : Model.Tela2_Nombre)</p>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        @*<div class="col-md-4">
        <div class="form-group d-flex align-items-center">
        <label for="Precio_Tela2" class="mr-2">Precio:</label>
        <p class="form-control mb-0" readonly>
        S/. @((Model.Tela2_Cantidad > 0) ?
        (((double)Model.Tela2_Costo / (double)Model.Tela2_Cantidad).ToString("F2")) : "0.00")
        </p>
        </div>
        </div>*@
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Tela2_Cantidad" class="mr-2">Cantidad:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>@Model.Tela2_Cantidad</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Tela2_Costo" class="mr-2">Costo de la Tela 2:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Tela2_Costo</p>
            </div>
        </div>
    </div>

    <hr style="border: 1px solid black; margin: 20px 0;">
        @{
            // Validar cada costo y asignar 0 si es nulo
            double Molde = Model.Molde ?? 0;
            double Tizado = Model.Tizado ?? 0;
            double Corte = Model.Corte ?? 0;
            double Confeccion = Model.Confección ?? 0;
            double Botones = Model.Botones ?? 0;
            double Pegado_Botón = Model.Pegado_Botón ?? 0;
            double Avios = Model.Avios ?? 0;
            double Tricotex = Model.Tricotex ?? 0;
            double Acabados = Model.Acabados ?? 0;
            double Otros = Model.Otros ?? 0;
            double totalCostes = Molde + Tizado + Corte + Confeccion + Botones + Pegado_Botón + Avios + Tricotex + Acabados
            + Otros;
        }

    <div class="row mb-3">
        <div class="col-md-8">
            <div class="form-group d-flex align-items-center">
                <h5 class="mr-2 mb-0">Total de Costes de Elaboración:</h5>
                <p class="mb-0" style="width: 30%; margin-left: 15px;">S/. @totalCostes.ToString("F2")</p>
            </div>
        </div>
    </div>
     

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Molde" class="mr-2">Molde:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Molde</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Tizado" class="mr-2">Tizado:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Tizado</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Corte" class="mr-2">Corte:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Corte</p>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Confección" class="mr-2">Confección:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Confección</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Botones" class="mr-2">Botones:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Botones</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Pegado_Botón" class="mr-2">Pegado de Botón:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Pegado_Botón</p>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Avios" class="mr-2">Avíos:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Avios</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Tricotex" class="mr-2">Tricotex:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Tricotex</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Acabados" class="mr-2">Acabados:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Acabados</p>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Otros" class="mr-2">Otros:</label>
                <p class="form-control mb-0" style="width: 30%; margin-left: 15px;" readonly>S/. @Model.Otros</p>
            </div>
        </div>
    </div>

    <hr style="border: 1px solid black; margin: 20px 0;">

    <div class="row mb-3">
        <div class="col-md-8">
            <div class="form-group d-flex align-items-center">
                <h5 class="mr-2 mb-0">Costo de Transporte:</h5>
                <p class="mb-0" style="width: 30%; margin-left: 15px;">S/. @Model.CostoTransporte</p>
            </div>
        </div>
    </div>

    <!-- Fila: Campos de transporte -->
    @*<div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="Precio_Transporte" class="mr-2">Precio de Transporte</label>

                <p class="form-control" readonly>
                    S/. @((Model.CostoTransporte > 0) ?
                    (((double)Model.CostoTransporte * (double)Model.Cantidad_Prendas).ToString("F2")) : "0.00")
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="CostoTransporte" class="mr-2">Costo de Transporte </label>
                <p class="form-control mb-0" readonly>S/. @Model.CostoTransporte</p>
            </div>
        </div>
    </div>*@

        <hr style="border: 1px solid black; margin: 20px 0;">

    @*<div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="CU_Final" class="mr-2">Costo Final de la Prenda </label>
                <p class="form-control mb-0" readonly>S/. @Model.CU_Final</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
                <label for="CT_Final" class="mr-2">Costo Final del Pedido </label>
                <p class="form-control mb-0" readonly>S/. @Model.CT_Final</p>
            </div>
        </div>
    </div>*@

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group d-flex align-items-center">
                <h5 class="mr-2 mb-0">Costo Final de la Prenda (Unitario):</h5>
                <p class="mb-0" style="width: 30%; margin-left: 15px;">S/. @($"{Model.CU_Final:F2}")</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group d-flex align-items-center">
                <h5 class="mr-2 mb-0">Costo Final del Pedido:</h5>
                <p class="mb-0" style="width: 30%; margin-left: 15px;">S/. @($"{Model.CT_Final:F2}")</p>
            </div>
        </div>
    </div>
</div>
